@model IEnumerable<CompanySlider>
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Company Sliders Table</h4>
            <p class="card-description">
                <a class="btn btn-primary" asp-controller="CompanySlider" asp-action="Create" > Create Slider</a>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td>
                                <img style="width:150px; height:150px" src="~/images/company/@item.PhotoUrl" />
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>

                                <a asp-controller="CompanySlider" asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id" class="btn btn-success"><i class="mdi mdi-table-edit"></i></a>
                                <a asp-controller="CompanySlider" asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id" class="btn btn-danger"><i class="mdi mdi-account-remove"></i></a>

                            </td>
                        </tr>}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


